#header{
	background-color: #333;
	height: 40px;
	font-size: 12px;
}
#nav_header {
	float: left;
    margin-left:58px; 
    width: 516px;
    height: 40px;
    overflow: hidden;
}
#login{
	float: right;
	margin-right:63px; 
}
#header li{
    display: block;
    float: left;
    text-align: center;
    margin-top: 14px;
    border-right: 1px solid #424242;
}

#header a {
	color: #b0b0b0;
	display: inline;
	margin: 13px 7px;
}
#header a:hover{
	color: #fff;
}
#nav_header ul{
	display: block;
	margin-right: -8px;
}
#cart{
	display: block;
    margin-top:0 !important;
    padding: 13px;
    margin-left: -1px;
    background-color: #414141;
    position: relative;
}
#cart:hover{
    height: 14px;
    background-color: #fff;
}
#cart img{
	float: left;
	height: 15px;
	width: auto;
    margin-top: -2px;
}
#login2{
	padding-right: 15px;
}
#cart_message{
	float: left;
	height: 80px;
	width: 350px;
	text-align: center;
	line-height: 80px;
	box-shadow: 0 4px 15px #EBEBEB;
	position: absolute;
	top:40px;
	right:63px;
	display: none;
	background-color: #fff;
	z-index: 30;
}
#logo_box{
	height: 54px;
    padding: 23px  63px 23px 59px;
}
#logo{
	float: left;
	width: 55px;
	padding-right: 178px;
}
#logo_box nav li{
	float: left;
	display: block;
	line-height: 54px;
	margin:0 16px;
}
#logo_box nav li a{
    color: #000;
}
#logo_box nav li a:hover{
	color: #FF6709;
}
#search{
	float: right;
	position: relative;
}
#search input{
	height: 48px;
	width: 225px;
	float: left;
	font-size: 14px;
	padding-left: 20px;
	border: 1px solid #E0E0E0;
}
#search button{
	height: 52px;
	width: 52px;
	border: 1px solid #E0E0E0;
	border-left: none;
	background-image: url(../images/search1.png);
	background-size: 100%;
	float: right;
}
#search button:hover{
	background-image: url(../images/search2.png) !important;
	background-size: 105%;
	border: none;
}
#search .search{
	border: 1px solid #B0B0B0;
}
#search .click_me{
	border: 1px solid #FF6709;
}
#search_div1 ,#search_div2  {
	display: block;
	position: absolute;
	width: 40px;
	height: 15px;
	top: 18px;
	left:120px;
	text-align: center;
}
#search_div2{
	left:180px;
}
#search a{
	padding: 3px;
	color:#B0B0B0;
	background-color: #EEEEEE; 
}
#search a:hover{
    color:#fff;
    background-color: #FF6709;
}
#search_result{
	float: left;
	display: none;
	position: absolute;
	top: 52px;
	right: 52px;
	font-size: 14px;
	width: 246px;
	border:1px solid #FF6709;
	border-top: none;
	background-color: #fff;
	z-index: 22;
}
#search_result li{
	margin:10px 20px;
	list-style: none;
	color: #424242;
}
#search_result li span{
    display: block;
    height: 20px;
    width: 30px;
    margin-top: 0;
    float: right;
    color: #B0B0B0;
}
.logo_nav_content {
	display: none;
}
#logo_nav_content{
	background-color: #fff;
	position: absolute;
	z-index: 15;
	width: 100%;
}
#logo_nav_content .selected{
	padding-left: 55px;
	box-shadow: 0 5px 10px #EBEBEB;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	height: 229px;
	display: block;
	z-index: 20;
}
.logo_nav_img{
	float: left;
	padding-top: 35px;
	text-align: center;
}
.logo_nav_img img{
	border-left:1px solid #E0E0E0;
	padding:0 22px;
}
.none_border{
	border-left: none !important;
}
.logo_nav_img p{
	font-size: 14px;
	margin-top: 22px;
	margin-bottom:5px;
}
.logo_nav_img i{
	font-style: normal;
	font-size: 12px;
	color: #FF6709;
}
#content{
	position: relative;
	width: 1226px;
	margin:0 auto;
	padding-right: 6px;
	z-index: 14;
}
#ad{
	width: 100%;
	position: relative;
}
#ad_loop{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 458px;
}
#second_nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 235px;
	background-color: #000;
	padding:19px 0;
	z-index: 4;
	filter:alpha(opacity=50);
	-webkit-opacity:0.5 ;
	-moz-opacity:0.5 ;
	-ms-opacity:0.5 ;
	-o-opacity:0.5 ;
	opacity:0.5 ;

}

#second_nav li{
	float: left;
	padding: 14px 23px 14px 28px;
	width: 184px;
}
#second_nav .selected{
	background-color: #FF6709;
}
#second_nav a{
	display: block;
	color: #fff;
	float: left;
	margin-right: 5px;
	font-size: 14px;
}
#second_nav i{
	color: #fff;
	font-weight: 800;
	display: block;
	float: right;
    height: 14px;
}
#second_nav_content{
	position: absolute;
	left: 235px;
	top: 0;
    z-index: 6;
    width: 300px;
	height: 458px;
}
#second_nav_content .lists{
	width: 100%;
	height:458px;
	display: none;
}
#second_nav_content .lists_selected{
	display: block;
	border-top: 1px solid #E0E0E0;
	background-color: #fff ;
	box-shadow: 0 10px 0px #EBEBEB;
}
#ad_loop{
	position: relative;
	z-index: 1;
}
#ad_imgs img{
	position: absolute;
}
#pages{
	position: absolute;
	z-index: 2;
	bottom: 23px;
	right:33px;
}
#pages li{
    float: left;
    border:1px solid #45474a;
	border-radius: 100%;
	width: 7px;
	height: 7px;
	margin-right: 10px;
	background-color: #45474a;

}